<div class="d-flex justify-content-center">
<h3><%= title %></h3></div>
<div class="d-flex justify-content-center">
<h2><%= year %></h2></div>
<div class="d-flex justify-content-center">
<img style="width:100% height:auto;"src="<%= image %>" alt="Comic"/></div>