* {
  font-family: "lato", sans-serif;
  font-weight: bold;
}

.center-button{
    display: block;
  max-width: 300px;
  margin: auto;
    padding:20px;
}
body{
    background-color: #D3D3D3;
}
.jumbotron{
    background-color: #87CEFA;
}